{% macro module(name, view, skins, connectors, attrs, data) %}

{# validate params #}
{% set name = (name) | default('Default') %}
{% set view = (view) | default(name | lower) %}
{% set skins = skins | default([]) %}
{% set connectors = connectors | default([]) %}
{% set attrs = attrs | default({}) %}
{% set data = data | default({}) %}
<div
class="mod {# specific mod#}{{ 'mod' ~ name }}{# end specific mod #}{# skins #}{% for skin in skins %}{{ ' skin' ~ name ~ (skin | capitalize) }}{% endfor %}{# end skins #}{# additional class(es) #}{% if attrs.class is defined %}{{ ' ' ~ attrs.class }}{% endif %}{# end additional class(es) #}"

{# connectors #}
{% if connectors|length > 0 %}
data-connectors="{% for connector in connectors %}{% if loop.index == 1 %}{{ connector }}{% else %}{{ ' ' ~ connector }}{% endif %}{% endfor %}"
{% endif %}

{# additional attrs (exception class attribute) #}
{% for attr, value in attrs %}
    {% if attr != 'class '%}
    {{ (attr ~ '="' ~ value ~ '"') | raw }}
    {% endif %}
{% endfor %}

{# composer attributes #}
data-composer-template="{{ view }}"
>

{# include / render the appropriate module view #}
{% if view is containing(':') %}
    {% render 'TerrificModule' ~ name ~ ':' ~ view with data %}
{% else %}
    {% include 'TerrificModule' ~ name ~ '::' ~ view ~ '.html.twig' %}
{% endif %}
{# end include #}

</div>
{% endmacro %}